@charset "UTF-8";
html {
  margin: 0px;
  padding: 0px;
  border: 0px; }

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #f5f5f5;
  color: #333333;
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased; }

.spacer {
  width: 100%;
  height: 42pt; }

.sheet {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  padding: 22pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .sheet.main {
    width: 800px; }

.popupBack {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); }

h2 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  margin: 0px;
  padding-bottom: 6pt; }

.button {
  position: relative;
  margin-top: 16pt;
  text-align: center;
  background-color: #3295d5;
  color: #ffffff;
  height: 36pt;
  line-height: 36pt;
  font-weight: bold;
  transition: background-color 0.5s;
  cursor: pointer; }
  .button.small {
    margin-top: 0pt;
    height: 30pt;
    line-height: 30pt; }
  .button:hover {
    background-color: #2479b0; }

.progressBar {
  position: relative;
  text-align: center;
  background-color: #3295d5;
  color: #ffffff;
  margin-top: 0pt;
  height: 10pt;
  transition: background-color 0.5s; }
  .progressBar.danger {
    background-color: #cd422f; }

.infoCentered {
  text-align: center;
  margin: 8pt; }

.assignmentRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 42pt; }

.assignmentCell {
  position: relative;
  width: 20%;
  float: left;
  min-height: 100%; }

.textCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%; }

span.link {
  cursor: pointer;
  display: inline-block;
  color: #3295d5;
  transition: 0.5s; }
  span.link:hover {
    color: #2479b0; }

.field {
  position: relative;
  margin-top: 16pt;
  min-height: 36pt; }

i {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  top: 9pt;
  left: 18px;
  transition: 0.5s; }

.fieldSplitter {
  width: 1px;
  height: 28pt;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 5pt;
  left: 42pt; }
  .fieldSplitter.centered {
    left: 140pt; }

textarea {
  -webkit-appearance: none;
  resize: none;
  width: calc(100% - 6px);
  height: 50vh;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: background-color 0.5s, border-color 0.5s; }
  textarea:hover {
    border-color: #3295d5; }

input[type="checkbox"] {
  -webkit-appearance: none;
  position: absolute;
  top: 9pt;
  left: 140pt;
  margin-left: 14pt;
  width: 16pt;
  height: 16pt;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: background-color 0.5s, border-color 0.5s; }
  input[type="checkbox"]:hover {
    border-color: #3295d5; }
  input[type="checkbox"]:checked {
    background-color: #3295d5; }
    input[type="checkbox"]:checked::after {
      content: "✔";
      color: #f5f5f5;
      font-size: 12pt;
      padding-left: 2pt; }
input[type="text"], input[type="password"] {
  width: calc(100% - 2px - 52pt);
  height: 36pt;
  padding: 0px;
  margin: 0px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding-left: 52pt;
  transition: 0.5s; }
  input[type="text"]:hover, input[type="password"]:hover {
    border: solid 1px #3295d5; }
  input[type="text"]:hover ~ i, input[type="password"]:hover ~ i {
    color: #3295d5; }

/*# sourceMappingURL=style.css.map */
